*.iml
.gradle
/local.properties
/.idea
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/passio-sdk/build
/app/keystore.properties
/app/passio_ui_module_keystore
