<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ai.passio.nutrition.uimodule">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />

    <application>
        <activity
            android:name=".ui.activity.PassioUiModuleActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"></activity>

        <service
            android:name=".service.RecordService"
            android:foregroundServiceType="mediaProjection"
            android:process=":recordServiceProcess" />
    </application>

</manifest>